#adminSearch {
    width: 50vw;
    md-input-container {
        padding: 5px 5px 1px;
    }
}

#admin-detail {
    padding: 20px;
    p {
    font-size: 17px;
    }
    .adminContent {
    padding: 20px;
    }
}

.buttons-right {
    position: absolute;
    right: 10px;
    bottom: 1px;
}
