<md-content class="md-padding" layout="row" layout-wrap>
<div flex="33">
    <h4>Reservation Date:</h4>
    <md-datepicker ng-model="myDate" ng-required="true"md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>

     <rzslider
    rz-slider-model="timeSlider.min"
    rz-slider-high="timeSlider.max"
    rz-slider-options="timeSlider.options">
    </rzslider>
    {{timeSlider.min}}

</div>

<div flex="33">
    <h4>Number of Diners:</h4>
     <md-input-container class="md-block" flex-gt-sm>
    <md-select ng-model="numPeople" ng-required="true">
              <md-option ng-repeat="number in diners" value="{{number}}">
                {{number}}
              </md-option>
            </md-select>
            </md-input-container>
            <p>For parties larger than 6, please call the restaurant.</p>
    </div>
<div flex="33">
    <h4>Restaurants:</h4>
    <md-chips ng-model="selectedRestaurants" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="true">
        <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="Preferred Restaurants">
            <span md-highlight-text="searchText">{{item.name}}</span>
        </md-autocomplete>
        <md-chip-template>
            <span>
          <strong>{{$chip.name}}</strong>
        </span>
        </md-chip-template>
    </md-chips>
    </div>
</md-content>
